- id: '1769553417173'
  alias: LG webOS Smart TV - Turn On Action
  description: ''
  use_blueprint:
    path: cvroque/webostv_turn_on.yaml
    input:
      webostv: d071aa9ccfc68ccdd36fc12983d079ed
      webostv_button: button.tv_wol
- id: '1769553640639'
  alias: LG webOS Smart TV - Turn On Action
  description: ''
  use_blueprint:
    path: cvroque/webostv_turn_on.yaml
    input:
      webostv: d071aa9ccfc68ccdd36fc12983d079ed
      webostv_button: button.tv_wol
